{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Hello PIVX Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <input type="button" value="Get Info" onclick="javascript:getInfo('#content')" />
    <input type="button" value="Staking Status" />
    <input type="button" value="Staking Reward" />
</div>

<div id="content">
</div>

<script>
    function getInfo(destElem) {
        $.ajax({
            url: '/control/getinfo',
            type: 'POST',
            success: function (response) {
                console.log(response);
                $(destElem).html(response.walletversion);
            },
            error: function (error) {
                console.log(error);
            }
        })
    };
</script>
{% endblock %}