{% extends 'base.html' %}

{% block header %}
<h1></h1>
{% endblock %}

{% block content %}

<!-- Card with basic wallet information -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Wallet Information</h2>
    </div>
    <div class="mdl-card__supporting-text" id="get_info_table">
        <!-- this element is updated with the table control by an ajax call-->
        {% include 'index_getinfo.html' %}
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="javascript:getInfo()">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>

<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Staking Information</h2>
    </div>
    <div class="mdl-card__supporting-text" id="get_stakinginfo_table">
        <!-- this element is updated with the table control by an ajax call-->
        {% include 'index_getstakinginfo.html' %}
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            onclick="javascript:getstakingstatus()">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>

<script>
    function getInfo(destElem) {
        $.ajax({
            url: '/control/getinfo',
            type: 'POST',
            success: function (response) {
                $('div#get_info_table').html(response.data);
            },
            error: function (error) {
                console.log(error);
            }
        })
    };

    function getstakingstatus(destElem) {
        $.ajax({
            url: '/control/getstakingstatus',
            type: 'POST',
            success: function (response) {
                $('div#get_stakinginfo_table').html(response.data);
            },
            error: function (error) {
                console.log(error);
            }
        })
    };
</script>
{% endblock %}