{% extends 'base.html' %}

{% block header %}
<h1></h1>
{% endblock %}

{% block content %}

<!-- Card with basic generell information -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Generell Information</h2>
    </div>
    <div class="mdl-card__supporting-text" id="get_info_table">
        <!-- this element is updated with the table control by an ajax call-->
        {% include 'index_getinfo.html' %}
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            onclick="javascript:updateInformation('div#get_info_table','/control/getinfo')">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>

<!-- Card with basic wallet information -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Wallet Information</h2>
    </div>
    <div class="mdl-card__supporting-text" id="get_wallet_info">
        <!-- this element is updated with the table control by an ajax call-->
        {% include 'index_getwalletinfo.html' %}
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            onclick="javascript:updateInformation('div#get_wallet_info','/control/getwalletinfo')">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>

<!-- Card with basic staking information -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col ">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Staking Information</h2>
    </div>
    <div class="mdl-card__supporting-text" id="get_stakinginfo_table">
        <!-- this element is updated with the table control by an ajax call-->
        {% include 'index_getstakinginfo.html' %}
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            onclick="javascript:updateInformation('div#get_stakinginfo_table','/control/getstakingstatus')">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>

<!-- Card with mnsync information -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col ">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Sync Information</h2>
    </div>
    <div class="mdl-card__supporting-text" id="get_mnsync_status">
        <!-- this element is updated with the table control by an ajax call-->
        {% include 'index_getmnsyncstatus.html' %}
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            onclick="javascript:updateInformation('div#get_mnsync_status','/control/getmnsyncstatus')">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>


<script>
    function updateInformation(destElem, apiURL) {
        $.ajax({
            url: apiURL,
            type: 'POST',
            success: function (response) {
                $(destElem).html(response.data);
            },
            error: function (error) {
                console.log(error);
            }
        })
    };
</script>
{% endblock %}